.page-wrapper.chiller-theme.toggled
  %a#show-sidebar.btn.btn-sm.btn-dark{:href => "#"}
    %i.fas.fa-bars.fa-2x
  %nav#sidebar.sidebar-wrapper
    .sidebar-content
      .sidebar-brand
        %a{:href => "#"} メニュー
        #close-sidebar
          %i.fas.fa-times
      .sidebar-header
        .user-pic
          %img.img-responsive.img-rounded{:alt => "User picture", :src => "https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"}/
        .user-info
          %span.user-name
            Jhon
            %strong Smith
          %span.user-role Administrator
          %span.user-status
            %i.fa.fa-circle
            %span Online
      / sidebar-header
      .sidebar-search
        %div
          .input-group
            %input.form-control.search-menu{:placeholder => "Search...", :type => "text"}/
            .input-group-append
              %span.input-group-text
                %i.fa.fa-search{"aria-hidden" => "true"}

      / sidebar-search
      .sidebar-menu
        %ul
          %li.header-menu
            %span General
          %li.sidebar-dropdown
            %a{:href => "#"}
              %i.fa.fa-file-invoice
              %span AWB
            .sidebar-submenu
              %ul
                %li
                  %a{:href => "#"} 一括登録
                %li
                  %a{:href => "#"} 個別登録
                %li
                  %a{:href => "#"} Bar chart
                %li
                  %a{:href => "#"} Histogram
          %li.sidebar-dropdown
            %a{:href => "#"}
              %i.fas.fa-cube
              %span ULD
            .sidebar-submenu
              %ul
                %li
                  %a{:href => "#"} General
                %li
                  %a{:href => "#"} Panels
                %li
                  %a{:href => "#"} Tables
                %li
                  %a{:href => "#"} Icons
                %li
                  %a{:href => "#"} Forms
          %li.sidebar-dropdown
            %a{:href => "#"}
              %i.fa.fa-plane-arrival
              %span 到着便
            .sidebar-submenu
              %ul
                %li
                  %a{:href => "#"} 到着便詳細
                %li
                  %a{:href => "#"} FFM登録
                %li
                  %a{:href => "#"} Dashboard 3
          %li.sidebar-dropdown
            %a{:href => "#"}
              %i.fa.fa-truck
              %span トラック便
            .sidebar-submenu
              %ul
                %li
                  %a{:href => "#"}
                    Products
                %li
                  %a{:href => "#"} Orders
                %li
                  %a{:href => "#"} Credit cart
          %li.sidebar-dropdown
            %a{:href => "#"}
              %i.fa.fa-cog
              %span 各種設定
            .sidebar-submenu
              %ul
                %li
                  %a{:href => "#"} Google maps
                %li
                  %a{:href => "#"} Open street map
          %li.header-menu
            %span Extra
          %li
            %a{:href => "#"}
              %i.fa.fa-book
              %span ドキュメント
              -# %span.badge.badge-pill.badge-danger 2
          %li
            %a{:href => "#"}
              %i.fa.fa-calendar
              %span スケジュール
          %li
            %a{:href => "#"}
              %i.fa.fa-bell
              %span お知らせ
          %li
            %a{:href => "#"}
              %i.fa.fa-chart-bar
              %span 統計情報
          %li
            %a{:href => "#"}
              %i.fa.fa-user
              %span ユーザー管理
      / sidebar-menu
    / sidebar-content
    -# .sidebar-footer
    -#   %a{:href => "#"}
    -#     %i.fa.fa-bell
    -#     %span.badge.badge-pill.badge-warning.notification 3
    -#   %a{:href => "#"}
    -#     %i.fa.fa-
    -#     %span.badge.badge-pill.badge-success.notification 7
    -#   %a{:href => "#"}
    -#     %i.fa.fa-cog
    -#     %span.badge-sonar
    -#   %a{:href => "#"}
    -#     %i.fa.fa-power-off
